name: on-main
concurrency:
  group: ${{ github.workflow }}

on:
  push:
    branches: [main]

permissions:
  contents: read
  id-token: write

env:
  TERRAFORM_VERSION: 1.6.1

jobs:
  businessApproval:
    name: Business Approval
    runs-on: ubuntu-latest
    environment: test
    steps:
      - run: echo Running business approval...

  test:
    name: test
    runs-on: ubuntu-latest
    needs: businessApproval
    steps:
      - run: echo Tuh duh
